<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-inter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link href="../fonts/HelveticaNow/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header">
        <div class="brand">
            <p>Fincake</p>
        </div>
        <nav class="nav-menu" id="nav-menu">
            <div class="menu">
                <a href="{{ url_for('landing_page') }}" class="menu-item">Home</a>
                <a href="#" class="menu-item">About</a>
                <a href="{{ url_for('my_progress') }}" class="menu-item">My Progress</a>
            </div>
        </nav>
    </header>

    <div id="main">

        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <header class="major">
                    <h3>
                        <a href="{{ url_for('entry_test') }}" class=" link ">Entry Quiz</a>
                    </h3>
                    <p>Test your current financial literacy level</p>
                </header>
            </article>
            <article>
                <header class="major ">
                    <h3><a href="{{ url_for('entry_test_flashcards') }}" class="link ">Entry Quiz Flashcards</a></h3>
                    <p>Explore the answer to your entry quiz</p>
                </header>
            </article>
            <article>
                <header class="major ">
                    <h3><a href="{{ url_for('consumer_credit_flashcards') }}" class="link ">Consumer Credit Flashcards</a></h3>
                    <p></p>
                </header>
            </article>
            <article>
                <span class="image ">
                                    <img src="images/pic04.jpg " alt=" " />
                                </span>
                <header class="major ">
                    <h3><a href="{{ url_for('consumer_credit_quiz') }}" class="link ">Consumer Credit Quiz</a></h3>
                    <p></p>
                </header>
            </article>
            <article>
                <span class="image ">
                                    <img src="images/pic05.jpg " alt=" " />
                                </span>
                <header class="major ">
                    <h3><a href="{{ url_for('credit_factors_flashcards') }}" class="link ">Credit Factors Flashcards</a></h3>
                    <p></p>
                </header>
            </article>
            <article>
                <span class="image ">
                                    <img src="images/pic06.jpg " alt=" " />
                                </span>
                <header class="major ">
                    <h3>
                        <a href="{{ url_for('credit_factors_quiz') }}" class="link ">Credit Factors Quiz</a></h3>
                    <p></p>
                </header>
            </article>
        </section>
    </div>

    <div class="break "></div>

</body>
<style>
    * {
        text-decoration: none;
    }
</style>

</html>