<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fincake</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="brand">
            <p>Fincake</p>
        </div>

        <nav class="nav-menu" id="nav-menu">
            <div class="menu">
                <a href="{{ url_for('landing_page') }}" class="menu-item">Home</a>
                <a href="#" class="menu-item">About</a>
                <a href="#" class="menu-item">My Progress</a>
            </div>
        </nav>

        <div class="group-button">
            <form method="GET" action="{{url_for('signup')}}">
                <button class="btn" href=signup>Sign up</button>
            </form>
        </div>

        <div class="btn-navigation">
            <input id="menu-hamburguer" type="checkbox" />
            <label for="menu-hamburguer">
                    <div class="menu">
                        <span class="hamburguer"></span>
                    </div>
            </label>
        </div>
    </header>

    <section class="intro">
        <div class="intro-text">
            <div class="text-group">
                <h2 class="title">
                    Financial Literacy made simple
                </h2>

                <p class="subtitle">
                    Quiz and Flashcards for your financial knowledge<br>
                </p>

                <form method="GET" action="{{ url_for('signin') }}">
                    <button class="btn">
                            Log in
                        </button>
                    <form>
            </div>
        </div>
        <div class="intro-image">
            <!-- <img src="assets/img/edward-howell-VlTJdP8ZY1c-unsplash.jpg" alt="#" class="ilutration-img">
            <img src="assets/img/edward-howell-VlTJdP8ZY1c-unsplash.jpg" alt="#" class="ilutration_mockup-img"> -->
        </div>
    </section>


    <section class="main" style="min-height: 200px;">
        <div class="main-text">
            <h3 class="title">
                What is Fincake?
            </h3>

            <p class="subtitle">
                We are a fun platform to help you learning topics of financial literacy effortlessly.
            </p>
        </div>
    </section>

    <script>
        let btn = document.getElementById('menu-hamburguer');
        let navigation = document.getElementById('nav-menu');

        btn.addEventListener('click', function() {
            navigation.classList.toggle('checked');
        })
    </script>
</body>

<style>
    button,
    .btn-submit {
        border: 1px solid transparent;
        border-radius: 30px;
        min-height: 36px;
        min-width: 130px;
        color: var(--Branco);
        background: linear-gradient(to right, hsl(233, 26%, 24%), hsl(136, 65%, 51%));
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        outline: none;
    }
</style>

</html>